{{! template-lint-disable no-unused-vars }}
<div class="tab-timer-wrapper">
  {{!-- <div class="add-tab-zone" ...attributes>
    <div class="add-tab-button hidden-until-hover" {{on "click" @onAddTab}}>
      Добавить секундомер
    </div>
  </div> --}}

  <div class="tabs-container">
    {{#each @tabs key=@index as |tab index|}}
      <div
        class="tab-item {{if tab.isRunning 'tab-item_active'}}"
        draggable="true"
        {{on "dragstart" (fn this.handleDragStart index)}}
        {{on "dragover" (fn this.handleDragOver index)}}
        {{on "drop" (fn this.handleDrop index)}}
        {{on "dragenter" (fn this.handleDragEnter index)}}
        {{on "dragleave" (fn this.handleDragLeave index)}}
        {{mouse-track}}
        style="background-color: {{tab.backgroundColor}}"
      >
        <div class="tab-content">
          {{log this.extraClassForFinishedTimer}}
          <div class="tab-content-icon-wrapper">
            {{#if (eq tab.type "timer")}}
              <img
                class="tab-content-icon"
                src="assets/chevron-down.svg"
                alt=""
              />
            {{else if (eq tab.type "countdown")}}
              <img class="tab-content-icon" src="assets/calendar.svg" alt="" />
            {{else if (eq tab.type "cyclic-timer")}}
              <img
                class="tab-content-icon"
                src="assets/repeat.svg"
                alt=""
              />
            {{else}}
              <img
                class="tab-content-icon"
                src="assets/chevron-up.svg"
                alt=""
              />
            {{/if}}

          </div>
          <span
            class="tab-time
              {{if
                (and (eq tab.type 'timer') (eq tab.time 0))
                'timer-finished'
                (if
                  (and (eq tab.type 'countdown') (eq tab.time 0))
                  'countdown-finished'
                  (if
                    (and (eq tab.type 'cyclic-timer') (eq tab.time 0))
                    'cyclic-timer-finished'
                  )
                )
              }}
              {{if
                (get this.extraClassForFinishedTimer tab.id)
                'extra-finished-timer'
              }}"
          >{{if
              (and (eq tab.type "countdown") (eq tab.time 0))
              "0:00"
              (this.formatTime tab.time)
            }}</span>
          <div class="tab-content__hovered">
            <span class="tab-name">{{if tab.name tab.name ""}}</span>
            {{#unless (eq tab.type "countdown")}}
              <button
                class="start-stop-button"
                {{on "click" (fn @onToggleTimer tab)}}
              >
                {{if tab.isRunning "❚❚" "▶"}}
              </button>
            {{/unless}}
            <button
              class="settings-button"
              {{on "click" (fn @onOpenSettings tab)}}
            >
              ⚙
            </button>
            <button
              class="delete-button"
              {{on "click" (fn @onOpenConfirmDeleteModal tab)}}
            >
              &times;
            </button>
          </div>
        </div>
      </div>
    {{/each}}

    <div class="add-tab-container">
      {{#if this.showAddDropdown}}
        <div
          class="add-tab-dropdown"
          {{mouse-track}}
          {{on "mouseenter" this.cancelDropdownAutoClose}}
          {{on "mouseleave" this.startDropdownAutoClose}}
        >
          <button
            class="dropdown-option"
            {{on "click" (fn this.addNewTab "stopwatch")}}
          >
            Добавить секундомер
          </button>
          <button
            class="dropdown-option"
            {{on "click" (fn this.addNewTab "timer")}}
          >
            Добавить таймер
          </button>
          <button
            class="dropdown-option"
            {{on "click" (fn this.addNewTab "countdown")}}
          >
            Добавить обратный отсчет
          </button>
          <button
            class="dropdown-option"
            {{on "click" (fn this.addNewTab "cyclic-timer")}}
          >
            Добавить циклический таймер
          </button>
        </div>
      {{/if}}
      <div
        {{mouse-track}}
        class="add-tab-button visible-default"
        {{on "click" this.toggleAddDropdown}}
      >
        +
      </div>
    </div>
  </div>

  <!-- Элемент для отслеживания изменений в табах -->
  <div
    {{did-update this.checkForTabChanges @tabs}}
    style="display: none;"
  ></div>

  <SettingsModal
    @isOpen={{@showSettingsModal}}
    @tab={{@activeSettingsTab}}
    @onClose={{@onCloseSettings}}
    @onUpdateName={{@onUpdateTabName}}
    @onUpdateTime={{@onUpdateTabTime}}
    @onUpdateBackgroundColor={{@onUpdateTabBackgroundColor}}
    @onUpdateTargetDateTime={{@onUpdateTargetDateTime}}
    @onUpdateCycleDuration={{@onUpdateTabCycleDuration}}
    @onDelete={{@onDeleteTab}}
  />
</div>