{{! template-lint-disable no-unused-vars }}
<div class="tab-timer-wrapper">
  {{!-- <div class="add-tab-zone" ...attributes>
    <div class="add-tab-button hidden-until-hover" {{on "click" @onAddTab}}>
      Добавить секундомер
    </div>
  </div> --}}

  <div class="tabs-container">
    {{#each @tabs key=@index as |tab index|}}
      <div
        class="tab-item"
        draggable="true"
        {{on "dragstart" (fn this.handleDragStart index)}}
        {{on "dragover" (fn this.handleDragOver index)}}
        {{on "drop" (fn this.handleDrop index)}}
        {{on "dragenter" (fn this.handleDragEnter index)}}
        {{on "dragleave" (fn this.handleDragLeave index)}}
        {{mouse-track}}
        style="background-color: {{tab.backgroundColor}}"
      >
        <div class="tab-content">

          <span
            class={{if
              (and (eq tab.type "timer") (eq tab.time 0))
              (if this.extraClassForFinishedTimer "tab-time timer-finished extra-finished-timer" "tab-time timer-finished")
              "tab-time"
            }}
          >{{this.formatTime tab.time}}</span>
          <div class="tab-content__hovered">
            <span class="tab-name">{{if tab.name tab.name ""}}</span>
            <button
              class="start-stop-button"
              {{on "click" (fn @onToggleTimer tab)}}
            >
              {{if tab.isRunning "❚❚" "▶"}}
            </button>
            <button
              class="settings-button"
              {{on "click" (fn @onOpenSettings tab)}}
            >
              ⚙
            </button>
            <button
              class="delete-button"
              {{on "click" (fn @onOpenConfirmDeleteModal tab)}}
            >
              &times;
            </button>
          </div>
        </div>
      </div>
    {{/each}}

    <div class="add-tab-container">
      {{#if this.showAddDropdown}}
        <div 
          class="add-tab-dropdown" 
          {{mouse-track}}
          {{on "mouseenter" this.cancelDropdownAutoClose}}
          {{on "mouseleave" this.startDropdownAutoClose}}
        >
          <button
            class="dropdown-option"
            {{on "click" (fn this.addNewTab "stopwatch")}}
          >
            Добавить секундомер
          </button>
          <button
            class="dropdown-option"
            {{on "click" (fn this.addNewTab "timer")}}
          >
            Добавить таймер
          </button>
        </div>
      {{/if}}
      <div
        {{mouse-track}}
        class="add-tab-button visible-default"
        {{on "click" this.toggleAddDropdown}}
      >
        +
      </div>
    </div>
  </div>



  <!-- Элемент для отслеживания изменений в табах -->
  <div {{did-update this.checkForTabChanges @tabs}} style="display: none;"></div>

  <SettingsModal
    @isOpen={{@showSettingsModal}}
    @tab={{@activeSettingsTab}}
    @onClose={{@onCloseSettings}}
    @onUpdateName={{@onUpdateTabName}}
    @onUpdateTime={{@onUpdateTabTime}}
    @onUpdateBackgroundColor={{@onUpdateTabBackgroundColor}}
    @onDelete={{@onDeleteTab}}
  />
</div>