{{#if @isOpen}}
  <div class="modal-overlay" {{on "click" @onClose}} {{mouse-track}}>
    <div
      class="modal-content"
      ...attributes
      {{on "click" this.stopPropagation}}
    >
      <div class="modal-header">
        <h3>{{if
            (eq @tab.type "timer")
            "Таймер"
            (if
              (eq @tab.type "countdown")
              "Обратный отсчет"
              (if
                (eq @tab.type "cyclic-timer")
                "Циклического таймер"
                (if
                  (eq @tab.type "cyclic-time")
                  "Циклический таймер от времени"
                  "Секундомер"
                )
              )
            )
          }}</h3>
        <button class="close-button" {{on "click" @onClose}}>×</button>
      </div>

      <div class="modal-body">
        <Input
          id="tab-name"
          @value={{@tab.name}}
          placeholder="Название"
          {{on "input" this.updateName}}
        /><br /><br />

        {{#unless (eq @tab.type "countdown")}}
          <div class="time-adjustment">
            <div class="time-display">

              <button
                class="adjust-time-btn minus-hour"
                disabled={{this.minusHourDisabled}}
                {{on "click" (fn this.adjustTime -3600)}}
              >
                Ч
              </button>
              <button
                class="adjust-time-btn minus-minute"
                disabled={{this.minusMinuteDisabled}}
                {{on "click" (fn this.adjustTime -60)}}
              >
                М
              </button>
              <button
                class="adjust-time-btn minus-one"
                disabled={{this.minusOneDisabled}}
                {{on "click" (fn this.adjustTime -1)}}
              >
                С
              </button>

              <span class="current-time">{{this.formattedTime}}</span>

              <button
                class="adjust-time-btn plus-one"
                {{on "click" (fn this.adjustTime 1)}}
              >
                С
              </button>
              <button
                class="adjust-time-btn plus-minute"
                {{on "click" (fn this.adjustTime 60)}}
              >
                М
              </button>
              <button
                class="adjust-time-btn plus-hour"
                {{on "click" (fn this.adjustTime 3600)}}
              >
                Ч
              </button>
            </div>

            <div class="reset-section">
              <button class="reset-button" {{on "click" this.resetTime}}>
                {{if
                  (eq @tab.type "timer")
                  "Сбросить таймер к 10 мин."
                  "Сбросить к 0"
                }}
              </button>
            </div>
          </div>
        {{/unless}}

        {{#if (eq @tab.type "cyclic-timer")}}
          <div class="cyclic-timer-settings">
            <label for="cycle-duration">Длительность цикла:</label>
            <div class="time-input-group">
              <input
                type="number"
                id="cycle-duration-hours"
                min="0"
                max="23"
                placeholder="Часы"
                value={{this.cycleHours}}
                {{on "input" this.updateCycleDuration}}
              />
              <span>:</span>
              <input
                type="number"
                id="cycle-duration-minutes"
                min="0"
                max="59"
                placeholder="Минуты"
                value={{this.cycleMinutes}}
                {{on "input" this.updateCycleDuration}}
              />
              <span>:</span>
              <input
                type="number"
                id="cycle-duration-seconds"
                min="0"
                max="59"
                placeholder="Секунды"
                value={{this.cycleSeconds}}
                {{on "input" this.updateCycleDuration}}
              />
            </div>
            <div class="current-cycle-time">
              <strong>Текущая длительность цикла:</strong><br />
              <span
                class="cycle-time-display"
              >{{this.formattedCycleTime}}</span>
            </div>
          </div>
        {{/if}}

        {{#if (eq @tab.type "cyclic-time")}}
          <div class="cyclic-time-settings">
            <label for="target-time-of-day">Время суток:</label>
            <input
              id="target-time-of-day"
              type="time"
              value={{this.formattedTargetTimeOfDay}}
              {{on "change" this.updateTargetTimeOfDay}}
            />
            {{!-- <div class="current-cyclic-time">
              <strong>Текущее время обратного отсчета:</strong><br>
              <span class="cyclic-time-display">{{this.formattedTime}}</span>
            </div> --}}
          </div>
        {{/if}}

        {{#if (eq @tab.type "countdown")}}
          <div class="countdown-settings">
            <label for="countdown-datetime">Выберите дату и время:</label>
            <input
              id="countdown-datetime"
              type="datetime-local"
              value={{this.formattedTargetDateTime}}
              {{on "change" this.updateTargetDateTime}}
              {{on "input" this.updateTargetDateTime}}
            />
            <div class="current-countdown-time">
              <strong>Текущее время обратного отсчета:</strong><br />
              <span class="countdown-time-display">{{this.formattedTime}}</span>
            </div>
          </div>
        {{/if}}

        <label for="tab-bg-color">Цвет фона:</label>
        <input
          id="tab-bg-color"
          type="color"
          value={{this.selectedColor}}
          {{on "change" this.updateBackgroundColor}}
        />
      </div>

      <div class="modal-footer">
        <button class="delete-button" {{on "click" @onDelete}}>Удалить таймер</button>
        <button class="save-button" {{on "click" @onClose}}>Сохранить</button>
      </div>
    </div>
  </div>
{{/if}}